:root{
    --primario:#F6FBF4;
    --secundario:#5FD068;
    --fuentePrincipal:font-family: 'Staatliches', cursive;
    --negro:#000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*,*:before,*:after{
    box-sizing: inherit;
}

/* Globales css */
body{
    /* background-color: var(--primario); */
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #EBECF1;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--negro);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.contenedor{
    max-width: 120rem;
}
h1,h2,h3{
    text-align: center;
    /* font-family: var(--fuentePrincipal); */
    font-family: 'Staatliches', cursive;
    color: var(--negro);

}
h1{font-size: 4rem;}
h2{font-size: 3.2rem;}
h3{font-size: 2.4rem;}
#cabecera{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background:linear-gradient(rgba(255, 255, 255, 0.75),rgba(255, 255, 255, 0.75)) ;
    
    
}
/* header */
.header{
    /* linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)) */
    /* no-repeat center center fixed */
    display: flex;
    justify-content: center;
    /* background-image:linear-gradient(rgba(255, 255, 255, 0.75),rgba(255, 255, 255, 0.75)),
    url(../media/fondo-header.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; */
    /* margin-top: 3rem;
    margin-bottom: 3rem; */
    height: 10rem;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ),url("../media/fondo-body.jpg");
    
}
.header__logo{
    
    height: 15rem;

}
.header__logo{
    margin: 2rem 0;

}
.header a{
    font-family: 'Staatliches', cursive;
    color: #EBECF1;
    border-color: #000;
    font-size: 2rem;
    
}
@media (min-width: 780PX){
    .header__logo{
    
        height: 15rem;
    
    }
    .header__logo{
        margin: 2rem 0;
    
    }
    .header a{
        margin-left: 0;
        font-size: 4rem;
    }
}

/* navegador */

.navegacion{
    display: flex;
    width: 100%;
    height: 5rem;
    /* background: var(--primario); */
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.2);
    justify-content: center;
    align-items: center;
    

    /* gap:2rem; */
}
.navegacion__enlace{
    font-family: 'Staatliches', cursive;
    color: var(--negro);
    margin-right: 2rem;
    transition: 0.5s;

}
.navegacion__enlace:last-of-type{
    margin-right: 0;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
    border-bottom: 1px solid var(--secundario);
}
@media (min-width: 780px){
    .navegacion__enlace{
        font-size: 2rem;
        margin-right: 7rem;
    }
}

/* PRESENTACION */

#presentacion{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-right: 10rem; */
    /* margin-left: 30rem; */
    /* display: flex; */
    height: 90rem;
    background-image: url("../media/fondo-header.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.contenedor-presentacion{
    
}
.contenedor-textos{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    
}
#imagen-jugador img{
    /* display: none; */
    size: cover;
}
.eslogan__presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px;
    border: 1px solid rgba(0,0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0,0, 0, 0.5); */
    
    background-color: none;
    margin: 3rem;
}
.eslogan__presentacion h2{
    font-family: 'Alegreya Sans SC', sans-serif;
    text-shadow: #000;
}
.contenedor-textos{
    
}
.contenedor-textos h2{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 4rem;
}
.contenedor-textos h4{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 8rem;
}
.texto-presentacion{
    margin: 0;
}
/* #imagen-jugador{
    
    display: flex;
    justify-content: right;
    
    position: absolute;
    

} */
@media (min-width: 780px){
    #presentacion{
        background-size: cover;
        flex-direction: row;
    }
     #imagen-jugador{
        display: flex;
        justify-content: right;
        position: absolute;
    } 
    #imagen-jugador img{
        height: 40rem;
        filter: drop-shadow(-140px -140px 5px rgba(0,0,0,0.5));
        transition: 0.5s;
        
    
    }
    #imagen-jugador img:hover{
        filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
    }
    .contenedor-presentacion{
        margin-top: 5rem;
        /* margin-left: 45rem; */
    }
    #contenido__presentacion{
        display: flex;
        flex-direction: column;
        
    }
    .contenedor-presentacion{
    
    }
    .eslogan__presentacion{
        display: none;
    }
    .contenedor-textos h2{
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 6rem;
    }
    .contenedor-textos h4{
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 15rem;
    }

}


/* SERVICIOS */
#servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor__servicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; 
    margin: 2rem;
}
.servicio{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border: 1px solid rgba(0,0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0,0, 0, 0.5);
    border-radius: 10px;
}
.servicio img{
    width: 40px;
    height: 40px;
}
.servicio h6{
    margin: 1rem;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}

@media (min-width: 780px){
    .contenedor__servicios{
        grid-template-columns: repeat(4, 1fr);
        margin: 3rem;
    }
    .servicio{
        width: 30rem;
        height: 25rem;
    }
    .servicio img{
        width: 100px;
        height: 100px;
    }
    .servicio h6{
        font-size: 1.5rem;
    }
    .titulo__servicios{
        font-size: 6rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}


/* SECCION VIDEO-PROMO */
#video-anuncio{
    
    /* background-color: #1E5128; */
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),url("../media/fondo-video.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#video-anuncio h2{
    padding: 2rem;
    margin: 2rem;
    font-size: 6rem;
    color: #EBECF1;
}
.contenedor-video-anuncio{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.carta-video{
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38rem;
   
    margin: 3rem;
    border-radius: 15px;
    border: 1px solid rgba(0,0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0,0, 0, 0.5);
}

.contenedor-video-anuncio video{
    width: 32rem;
    height: 24rem;
    
}
.boton-copa-patain{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* border: 1px solid rgba(0,0, 0, 0.5); */
    width: 20rem;
    height: 4rem;
    margin: 2rem;
    background-color: #4E9F3D;
    transition: 0.5s;
}
.boton-copa-patain a{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    color: #000;
    transition: 0.5s;

}
.boton-copa-patain:hover{
    /* background-color: #1E5128; */
    background-color: #191A19;
    border: 3px solid;
    border-color: #4E9F3D;
}
.boton-copa-patain:hover a{
    color:#fff;
}
@media (min-width: 780px){
    .contenedor-video-anuncio video{
        width: 102rem;
        height: 54rem;
    }
    .carta-video{
        width: 106rem;
        height: 62rem;
    }
    .boton-copa-patain{
        height: 6rem;

        
    }
    .boton-copa-patain a{
        font-size: 2.2rem;
    }
}

/* foooter */
#footer-section{
    background-color: #1E5128;
}
.info-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-footer h6{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2rem;
    color: #EBECF1;
}


/* Indice */

#indice{
    /* background-color: rgb(30,30,30); */
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#indice .contenedor{
    padding: 100px 0px;
    
}
#indice a{
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0,0, 0, 0.5);
    color: black;
    background-color:white;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    
    
}
#indice a:hover{
    /* border: 2px solid rgb(255, 255, 255); */
    background-color: rgb(40,40,40);
    color: white;
}
#indice h2{
    margin-top: 0;
    font-size: 3em;
    margin-bottom: 5rem;
}
#indice p{
    display: none;
}
#indice .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    transition: all .5s;
    
}
#indice .carta:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#indice .carta h3{
    margin: 1.5rem 0;
    color: #EBECF1;

}
#indice .carta p{
    color: #EBECF1;
}
.carta:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/fondo-cuppatain.jpg");
}
.carta:nth-child(2){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/gimnasia-laboral.jpg");
}
.carta:nth-child(3){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/formacion-deportiva.jpg");
}
.carta:nth-child(4){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/cyberseguridad.jpg");
    grid-column: 2 / 3;
}

@media (min-width: 820px){
     .items{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    #indice p{
        display: block;
        margin-bottom: 30px;
    }
    #indice h2{
        font-size: 4em;
    }
    #indice h3{
        margin-top: 0;
    }
    #indice .carta{
        padding: 50px;
        box-shadow: 2px 2px 10px rgb(30,30,30,1);
    }
    #indice button{
        position:initial;
    }
}

/* anuncios */
